snippet im "Math" w
\(${1}\)
endsnippet

snippet dm "Math" w
\[${1}.\]
endsnippet

snippet _ "subscript" i
_{$1}
endsnippet

snippet ^ "superscript" i
^{$1}$0
endsnippet

snippet // "Fraction" i
\\frac{$1}{$2}$0
endsnippet


